body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f8f8;
    text-align: center;
}

p {
    font-size: 25px;
    font-weight: 60;
    font-family: 'Playfair Display', serif;
    color:555;
    margin-top: 20px;
    text-shadow: 2px 2px 8px rgba(214, 51, 132, 0.35);
}

.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.card {
    background: white;
    width: 250px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
    height: 200px;       /* Hepsi aynı yükseklik */
    object-fit: cover;   /* Taşanı kırpar, oranı bozmaz */
    border-radius: 15px;
}


ul {
    list-style: none;
    padding: 0;
}
